# data files:
#    some known-good data added anyway for
*.zip
*.min
*.wdc

# python binary products:
*.pyc
*.egg-info

# pytest and coverage:
.cache
htmlcov
.coverage

# doc builds:
doc/.build/*

# distribution builds
dist
